<style>
	#div.slider_block { padding: 10px !important; }
	</style>
	<script>
    var objArray = new Array();
  
    
    <% activities_list.each do |act| %>
			<% if(act.duration!=nil)%>
				objArray[<%= act.id %>] = <%=  act.duration.to_int %>;
			<% end %>
    <% end %>
    
    $(function() {
        $( "#slider" ).slider({
          value:0,
          min: 5,
          max: 600,
          step: 5,
          slide: function( event, ui ) {
            $( "#duration" ).val( ui.value );
          }
        });
        $( "#duration" ).val( $( "#slider" ).slider( "value" ) );
      });
	  
	  $("#duration").filter_input({regex:'[0-9]',live:true});
	</script>

<div class='well' style="width: 350px;padding: 10px 0px 1px 10px;">

  <%= form_tag activities_submit_url, :method => 'post', :style => 'margin:0;padding:0' do %>
     <%= select_tag(:activity_id, options_for_select(activities), :id => 'select-activity') %>
     <span id="image-container"></span>
     <%= submit_tag 'Submit', :class => 'btn btn-primary btn-large', :style => 'margin-bottom: 10px;' %>
    <div class="slider_block">
    <p>
      <label for="duration">Duration (minutes):</label>
      <input type="text" id="duration" name="duration" style="border:0; font-weight:bold;" />
    </p>
    <div id="slider"></div>
	</div>
  <% end %>
</div>

<script type="text/javascript">
  $("#select-activity").change(function () {
    var name = $("#select-activity option:selected").text().replace(/ /g,"_");
    var id = $("#select-activity option:selected").attr("value");
	
	if (objArray[id]!=undefined)
	{
		$("#slider").slider( "value" ,objArray[id]);
		$("#duration").attr( "value" ,objArray[id]);
	}
    $("#image-container").empty();
    $("#image-container").append('<img style="margin: 0 3px 10px 3px;" src="/images/activities/' + name + '.png"></img>');
  }).trigger('change');
</script>